{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <header><h1>VUE ROULETTE</h1><h3>A roulette game made with Django and Vue.</h3></header>
    <nav><a href="Tutorial">How to play?</a><a href="Leaderboard">Leaderboard</a></nav>
    <main>
        <section id="game">
            <canvas id="revolver">

            </canvas>
            <div id="gameView">
                <canvas id="gameImg" ></canvas>
                <div id="stats">
                    [[template]]
                </div>
            </div>
            
        </section>
        <section>
            <h2>LEADERBOARD</h2>
            <table>
                <thead><td>Player's name</td><td>Survived rounds at once</td></thead>
                <tbody></tbody>
            </table>
        </section>
    </main>
    <footer>
        <h3>Website and game made by Jędrzej Burczyński.</h3>
    </footer>

    <script>

    const { createApp } = Vue

        createApp({
            template: `
            <form>
            <button type = "button" class = "button">Pull the trigger</button>
            <button type = "button" class = "button">Roll the cylinder</button>
            </form>
            `,
            data() {
                return {
                    message : "smth went wrong :<"
                    
                }
            },

            delimiters: ['[[', ']]'],
        }).mount('#stats')

    </script>
</body>
</html>