{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <header><h1>VUE ROULETTE</h1><h3>A roulette game made with Django and Vue.</h3></header>
    <nav><a href="Tutorial">How to play?</a><a href="Leaderboard">Leaderboard</a></nav>
    <main>
        <section id="game">
            <canvas id="revolver">

            </canvas>
            <div id="gameView">
                <canvas id="gameImg" ></canvas>
                <div id="stats">
                            <div v-if="game.includes('0')" id="labelCount">
                                
                                <form >
                                Bullets: <div id="bulletCount" display = "inline">1</div>
                                <input type="range" onchange="bAmtChange()" oninput="bAmtChange()" min = "1" max = "5" step="1" id="startB">
                                
                                
                                
                                <button type = "button" class = "button">Start</button>
                                </form>
                                
                            </div>
                            <div id="gamestats" v-else-if="game.includes('1')">
                                <form id="wide">
                                <button type = "button" class = "button">Pull the trigger</button>
                                <button type = "button" class = "button">Roll the cylinder</button>
                                </form>
                            </div>
                            <div v-else>jdwi</div>
                    </div>
                </div>
            </div>
            
        </section>
        <section>
            <h2>LEADERBOARD</h2>
            <table>
                <thead><td>Player's name</td><td>Survived rounds at once</td></thead>
                <tbody></tbody>
            </table>
        </section>
    </main>
    <footer>
        <h3>Website and game made by Jędrzej Burczyński.</h3>
    </footer>

    <script>

    var bullets;

    class revolver{
        inChamber;
        chambers;

        roll() {
            let rolls = Math.floor(Math.random()*36)
            for(let i = 0; i < rolls; i++){
                let last = chambers[5]
                for(let j = 0; j < 5; j++){
                    chambers[j] = chambers[j+1];
                }
                chambers[5] = last;
            }
        }

        constructor(ammoAmt){
            chambers = new Array(6);
            for(let i = 0; i < ammoAmt; i++){
                chambers[i] = true;
                roll()
            }
        };
    }   
    document.onload = function(){

    document.getElementById("startB").addEventListener("input", bAmtChange);
    document.getElementById("startB").addEventListener("change", bAmtChange);

    };

    function bAmtChange(){
        bullets = document.querySelector("#startB").value
        document.querySelector("#bulletCount").innerHTML = bullets


    }


    const { createApp } = Vue

        createApp({
            data: function(){
                return {
                    game : "1",
                    
                }
            },

            delimiters: ['[[', ']]'],
        }).mount('#stats')

    </script>
</body>
</html>