{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <header><h1>VUE ROULETTE</h1><h3>A roulette game made with Django and Vue.</h3></header>
    <nav><a href="Tutorial">How to play?</a><a href="Leaderboard">Leaderboard</a></nav>
    <main>
        <section id="game">
            <div id="revolver">
                <img src="{% static 'img/Revolver.png' %}" id="Rev">
            </div>
            <div id="gameView">
                <div id="gameImg">
                <img src="{% static 'img/PlayerIdle.png' %}" id="gameImg2">
                </div>
                <div id="stats">
                    <form id="wide" action="lose" method="post">
                        {% csrf_token %}
                            <div v-if="game.includes('0')" id="labelCount">

                                Bullets: <div id="bulletCount" display = "inline">1</div>
                                <input type="range" value="1" onchange="bAmtChange()" oninput="bAmtChange()" min = "1" max = "5" step="1" id="startB">

                                <button type = "button" class = "button" v-on:click = "continueGame()">Start</button>

                            </div>
                            <div id="gamestats" v-else-if="game.includes('1')">

                                <button type = "button" class = "button" v-on:click = "continueGame()">Pull the trigger</button>
                                <button type = "button" class = "button" v-on:click = "reset()">Roll the cylinder</button>
                                
                            </div>
                            <div id="gamestats" v-else>
                                <input type="hidden" id="record" name="record">
                                <button type = "submit" class = "button" >Pull the trigger</button>
                                <button type = "button" class = "button"v-on:click= "reset()">Roll the cylinder</button>
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </section>
        <section>
            <h2>LEADERBOARD</h2>
            <table>
                <thead><td>Player's name</td><td>Survived rounds at once</td></thead>
                <tbody></tbody>
            </table>
        </section>
    </main>
    <footer>
        <h3>Website and game made by Jędrzej Burczyński.</h3>
    </footer>

    <script>

    var bullets = 1;
    
    var img = document.getElementById("gameImg2")

    var imgRev = document.getElementById("Rev")
    
    var anims = [
        "{% static 'img/PlayerClick.gif' %}",
        "{% static 'img/PlayerIdle.gif' %}",
        "{% static 'img/RevolverTake.gif' %}",
        "{% static 'img/RevolverRoll.gif' %}",
        
    ]

    class revolver{
        chambers;

        roll() {
            imgRev.setAttribute('src',  "")
            let rolls = Math.floor(Math.random()*36)
            for(let i = 0; i < rolls; i++){
                this.next();
            }
            imgRev.setAttribute('src',  "{% static 'img/RevolverRoll.gif' %}")
            
            
        }

        next(){
            
            
            let last = this.chambers[0]
            for(let j = 0; j < 5; j++){
                this.chambers[j] = this.chambers[j+1];
            }
            this.chambers[5] = last;
            

        }

        constructor(){
            console.log(bullets)
            this.chambers = [false,false,false,false,false,false]
            for(let i = 0; i < bullets; i++){
                this.chambers[i] = true;
            }
            this.roll()
        };
    }   
    document.onload = function(){

        document.getElementById("startB").addEventListener("input", bAmtChange);
        document.getElementById("startB").addEventListener("change", bAmtChange);
        

    };

    function bAmtChange(){

        bullets = document.querySelector("#startB").value

        document.querySelector("#bulletCount").innerHTML = bullets
        console.log(bullets)
    }

    var count = 0;

    const { createApp } = Vue

        createApp({
            data: function(){
                return {
                    game : "0",
                    
                }
            },

            
            methods:{
                continueGame() {
                    if(this.game == "0"){
                        revolver01 = new revolver()
                        this.game = "1"
                        
                        
                    }else{
                        img.setAttribute('src',  "")
                        imgRev.setAttribute('src',  "")
                        img.setAttribute('src',  anims[0])
                        imgRev.setAttribute('src',  "{% static 'img/RevolverTake.gif' %}")
                        count +=1;
                        revolver01.next();
                        if(revolver01.chambers[0] == true){
                            this.game = "2"
                            document.getElementById("record").value = count;

                        }
                    }
                },
                reset(){
                    revolver01.roll()
                    this.game = "1"
                    if(revolver01.chambers[0] == true){
                            this.game = "2"
                    }
                }
            },
            delimiters: ['[[', ']]'],
        }).mount('#stats')

    </script>
</body>
</html>